
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
--green-color: #7acc2d;
--white-color: white;
--black-color: #000;
/* tipografia */
--normal: 12px;
/* espaciado */
--space: 10px;
/* box shadow */
--box:0 0 2px #c1bcbc;
}

html, body{
  padding: 0;
  margin: 0;
  font-family:'Open Sans', sans-serif;
}

/* estilos nav */

nav{
  display: flex;
  background-color: #333;
  padding: 5px 10px;
  font-size: var(--normal);
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 35px;
  height: auto;
  border-radius: 10px;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: var(--white-color);
}

nav li a:hover{
  color:red;
}

/* hero */

.hero{
  display: flex;
  height: 600px;
  background-image: url(../imagenesfla/hero2.jpg);
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}

.hero-text{
  display: block;
  padding: 5px 10px;
  color: #000;
  background-color: var(--green-color);
  border: 1px solid #000;
  border-radius: 30px;
  margin-left: 50px;
  font-family: fantasy;
}

#h1-hero{
  font-size: 20px;
  text-align: center;
}

.hero-text:hover{
  background-color: #5e9e22;
}

/* main section */

.main-section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../imagenesfla/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
  /* justify-content: center; */
}

.product{
  padding: 10px;
  margin-top: -240px;
}

.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}

.img-content{
  text-align: center;
}

.main-button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor:pointer;
  border-radius: 2px;
}

.main-button:hover{
  background-color: #5e9e22;
}

/* beneficios */

.benefits{
  display: flex;
  height: 900px;
  justify-content: center;
  align-items: center;
  background-color: #06d7a0;
}

.beneficios{
    height: 600px;
}

.bene-title{
  text-align: center;
}

.bene-title h1{
  font-size: xx-large;
  margin: 5px;
}

.bene-products{
  max-height: 50px;
  display: flex;
  justify-content: center;
}

.bene-product{
  padding: var(--space);
  text-align: center;
}

.bene-content{
  /* background-color: var(--white-color); */
  padding: var(--space);
  box-shadow: 0 0 3px #000;
  width: 300px;
  border-radius: 10px;
}

.bene-content:hover{
  box-shadow: 0 0 5px #000;
  background-color: #00ffbd;
}

.bene-content h1{
  margin: 5px 0px;
}

.bene-content p{
  margin: 5px 0px;
}

.bene-imagen{
  width: 100%;
  border-radius: 5px;
}

/* .container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
*/
