
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
--green-color: #7acc2d;
--white-color: white;
--black-color: #000;
/* tipografia */
--normal: 12px;
/* espaciado */
--space: 10px;
/* box shadow */
--box:0 0 2px #c1bcbc;
}

html, body{
  padding: 0;
  margin: 0;
  font-family:'Open Sans', sans-serif;
}

body{
  background-color: #093145;
}

/* estilos nav */

nav{
  display: flex;
  background-color: #093145;
  padding: 5px 10px;
  font-size: var(--normal);
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 35px;
  height: auto;
  border-radius: 10px;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  text-decoration: none;
  color: var(--white-color);
}

nav li a:hover{
  color:red;
}

/* hero */

.hero{
  display: flex;
  height: 600px;
  background-image: url(../imagenesfla/hero2.jpg);
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
}

.hero-text{
  display: block;
  padding: 5px 10px;
  color: #000;
  background-color: #0d3d56;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-left: 50px;
  cursor: pointer;
  /* font-family: fantasy; */
}

#h1-hero{
  font-size: 20px;
  text-align: center;
}

.hero-text:hover{
  background-color: #3c6478;
}

/* main section */

.main-section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../imagenesfla/curve.png");
  height: 95px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 15%;
  display: flex;
  justify-content: center;
}

.product{
  padding: 10px;
  margin-top: -240px;
}

.content{
  text-align: center;
}

.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}

.img-content{
  text-align: center;
}

.main-button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor:pointer;
  border-radius: 2px;
}

.main-button:hover{
  background-color: #5e9e22;
}

/* beneficios */

.benefits{
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  /* background-color: #06d7a0; */
}

.beneficios{
  height: 420px;
}

.bene-title{
  text-align: center;
}

.bene-title h1{
  font-size: xx-large;
  margin: 5px;
  color: var(--white-color);
}

.bene-products{
  height: 95px;
  display: flex;
  justify-content: center;
}

.bene-product{
  padding: var(--space);
  text-align: center;
}

.bene-content{
  /* background-color: var(--white-color); */
  /* background-color: lightgreen; */
  background-color: #3c6478;
  padding: var(--space);
  box-shadow: 0 0 5px #fff;
  width: 300px;
  border-radius: 10px;
}

.bene-content h1, .bene-content p{
  margin: 5px 0px;
  color: var(--white-color)
}

.bene-img-content{
  width: 300px;
  height: 250px;
}

.bene-imagen{
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* menciones */

.memorable{
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  /* background-color: #06d7a0; */
}

.menciones{
  height: 520px;
}

.men-title{
  text-align: center;
}

.men-title h1{
  font-size: xx-large;
  margin: 5px;
  color: var(--white-color);
}

.men-products{
  height: 95px;
  display: flex;
  justify-content: center;
}

.men-product{
  padding: var(--space);
  text-align: center;
}

.men-content{
  /* background-color: var(--white-color); */
  /* background-color: #3c6478; */
  padding: var(--space);
  box-shadow: 0 0 5px #fff;
  border-radius: 10px;
  width: 250px;
  /* height: 500px; */
}

.men-content:hover{
  box-shadow: 0 0 5px #fff;
  background-color: #0d3d56;
}

.men-content h2{
  margin: 5px 0px 0px 0px;
}

.men-content p{
  margin: 5px 0px;
}

.men-content h6{
  margin: 2px 0px 5px 0px;
}

.men-content h2, .men-content p, .men-content h6{
  color: var(--white-color);
}

.men-img-content{
  width: 250px;
  height: 350px;
}

.men-imagen{
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #093145;
  color: var(--white-color)
}

footer div{
  display: flex;
  padding: 0px 15px
}

footer a{
  color:var(--white-color);
}

footer a:hover{
  color:red;
}

/* .container{
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
*/
