.container{
  /* max-width: 900px; */
  margin: auto;
  text-align: center;
  max-width: 1200px;
}

.row1, .row2, .row3{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 350px;
}

.row1{
  background-image: url("../imagenesfla/tabla.jpg");
}

.row2{
  background-image: url("../imagenesfla/talleres.jpg");
  justify-content: flex-end;
}

.row3{
  background-image: url("../imagenesfla/bar.jpg");
}

.p1d, .p2i{
  width: 70%;
  text-align: center;
  max-width: 350px;
  background-color: rgba(255,255,255,0.5);
}

.p1d, .p2i{
  padding: 10px;
  color: #000;
}

.productos-a{
  text-decoration: none;
}

footer{
  padding-top: 20px;
}

.social{
  width: 100%;
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  text-align: center;
}

.social-link.twitter{
  background-image: url("../imagenesfla/twitter.svg");
}

.social-link.facebook{
  background-image: url("../imagenesfla/facebook.svg");
}

.social-link.github{
  background-image: url("../imagenesfla/github.svg");
}

.social-link.instagram{
  background-image: url("../imagenesfla/logo-de-instagram.svg");
}

@media (max-width:900px) {
.row{
  display: inherit;
}

.row1, .row2, .row3{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.p1d, .p1i, .p2i, .p2d{
  width: 100%;
  text-align: center;
  max-width: none;
}


.p1d, .p2i{
  padding: 0px;
  margin: 0.10em 0;
}

.p1d h1, .p2i h1{
  margin: 0.10em 0;
}

.p1d p, .p2i p{
  margin-block-start: 0.5em;
}

footer{
  padding-top: 10px;
}

#footer1{
  display: none;
}

}
